@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1a1a1a;
    caret-color: transparent; /*Hide text cursor*/
    color: #f0f0f0;
    font-family: Arial, sans-serif;

    /*Prevent highlighting*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow {
    @apply absolute pointer-events-none ;
}

.board {
    @apply images inset-0 z-0 ;
}

.button {
    @apply relative w-48 border border-gray-200 p-2.5 rounded-md bg-gray-800 text-gray-200 hover:bg-gray-700 m-1 ;
}

.select {
    @apply relative w-48 border border-gray-200 p-2.5 rounded-md bg-gray-800 text-gray-200 hover:bg-gray-700 m-1 ;
}

.widget-container {
    @apply flex justify-center space-x-1 ;
}

.board-container {
    @apply relative z-0 outline-none shadow-none ;
}

.board-buttons-container {
    @apply flex justify-center items-center ;
}

.eval-container {
    @apply border border-gray-200 flex flex-col h-full relative rounded-md text-center w-9 ;
}

.info-bar-container {
    @apply relative w-72 border border-gray-200 p-2.5 rounded-md bg-gray-800 text-gray-200 flex flex-col items-center ;
}

.rounds-container {
    @apply w-52 max-h-full relative overflow-y-auto flex flex-col-reverse ;
}

.images {
    @apply absolute p-0 border-0 m-0 pointer-events-none ;
    -webkit-user-drag: none;
}

.board-square {
    @apply absolute box-border pointer-events-none px-1 text-transparent ;
}

.text-square {
    @apply text-black text-sm ;
}

.moved-square {
    @apply bg-yellow-500/50 ;
}

.check-square {
    @apply bg-red-600/70 ;
}

.checkmate-square {
    @apply bg-black/70 ;
}

.transparent-square {
    @apply bg-transparent ;
}

.destination-square {
    @apply bg-green-700/40 ;
}

.border-hover-square {
    @apply border-4 border-yellow-300/90 p-0 ;
}

.selected-square {
    @apply bg-red-400 ;
}

td {
    @apply pr-4 ;
}
