repos:
-   repo: local
    hooks:
    -   id: fmt
        name: fmt
        description: Format files with cargo fmt.
        entry: cargo fmt
        language: system
        types: [rust]
        args: ["--"]
    -   id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: ./cargo_check_all.sh
        language: system
        types: [rust]
        pass_filenames: false
