.images {
    -webkit-user-drag: none;
    position: absolute;
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.info-bar-container {
    position: absolute;
    top: 0;
    width: 300px;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.moves-container {
    width: 200px;
    height: 100%;
    overflow: auto;
    position: absolute;
}
